body {
  background-color: #429A20;
  height: auto;

}

.Intro {
  text-align: center;
  font-family: 'Germania One', cursive;
  font-size: 20px;
}

.UI {
  width: 50%;
  border:  solid green;
  background-color: grey;
  margin: 20px auto;
  padding-bottom: 5%;
  height: 45%;
}

.Calculation {
  text-align: center;
  font-size: 8vw;
}

.button {
  padding: 5%;
  background: red;
}

.true {
  display: inline;
  font-size: 5vw;
}
.false {
  display: inline;
  font-size: 5vw;
}

.score {
  font-size: 10vw;
  text-align: center;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

p {
  margin: 0%;
}
