body {
  background-color: #F08080;
}

.Intro {
  text-align: center;
}

.UI {
  width: 50%;
  border:  solid green;
  padding-bottom: 35%;
  background: grey;
  margin: 20px auto;
  height: 200px;
}

.Calculation {
  text-align: center;
  font-size: 50px;
}

.true {
  float:left;
  margin-left: 5%;
  margin-top: 40%;
  font-size: 45px;
}

.false {
  float: right;
  margin-top: 40%;
  margin-right: 5%;
  font-size: 50px;
}
